body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

.titolo {
    background-color: #FBD747;
    width: 89%;
    margin-top: 64px;
    height: 220px;
}

h1 {
    font-size: 52px;
    font-weight: 800;
    padding-left: 80px;
    padding-top: 40px;
    margin: 0;
    line-height: 55px;
}

header p {
    padding-left: 80px;
    font-size: 32px;
    font-weight: 500;
    font-weight: 700;
    margin: 0;
}

.copertina {
    width: 500px;
}

.card {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.quadrato {
    width: 600px;
    height: 490px;
    overflow: hidden;
}

.quadrato img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.primo-paragrafo {
    text-align: right;
    max-width: 1200px;
}

.titolo-paragrafo {
    background-color: #FBD747;
    height: 90px;
    padding-top: 5px;
    padding-bottom: 25px;
    padding-right: 50px;
}

h2 {
    font-size: 24px;
}

.paragrafo-destra {
    padding-top: 60px;
    padding-right: 50px;
    padding-left: 250px;
    max-width: 700px;
}

p {
    font-size: 20px;
}

.secondo-paragrafo {
    text-align: left;
    max-width: 1200px;
}

.titolo-paragrafo-sinistra {
    background-color: #FBD747;
    height: 90px;
    padding-top: 10px;
    padding-bottom: auto;
    padding-left: 50px;    
}

.paragrafo-sinistra {
    padding-top: 60px;
    padding-left: 50px;
    max-width: 700px;
    padding-right: 250px;
}

footer {
    background-color: #FBD747;
    margin-top: 200px;
    padding: 50px;
}

footer h2 {
    text-align: center;
    font-size: 28px;
    max-width: 700px;
    margin: auto;

}
